@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: "hidden";
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff;
  color: "#000000";
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}



html,
body,
#root,
#__next,
#__next > div,
.theme-0 {
  scroll-behavior: smooth;
  height: 100%;
  max-width: 100vw;
}

#__next {
  position: relative;
  z-index: 0;
  scroll-behavior: smooth;
}